@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*::after,
*::before,
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  scroll-behavior: smooth;
  user-select: none;
}

:root {
  --orange-light: #FF9B70;
  --orange-dark: #FF7315;
  --black-font: #222222;
  --pink-button: #FF2950;
  --green-start: #87D147;
  --silver-light: #F9F9F9;
  --silver--dark: #222222;
  --facebook-bg: #728CF7;
  --twitter-bg: #E17094;
  --instagram-bg: #68AAF3;
}

button {
  cursor: pointer;
}

.btn--bg {
  padding: 0.875rem 0.8125rem;
  border-radius: 10px;
  border: 1px solid transparent;
  background-color: var(--pink-button);
  color: var(--silver-light);
  font-weight: 500;
  font-size: clamp(0.75rem, calc(0.62rem + 0.65vw), 1.13rem);
  transition: 0.3s;
}

.btn--bg:hover {
  background-color: transparent;
  border: 1px solid var(--pink-button);
  color: var(--pink-button);
}

.btn {
  padding: 0.875rem 0.8125rem;
  border-radius: 10px;
  border: 1px solid var(--orange-dark);
  background-color: transparent;
  color: rgba(34, 34, 34, 0.5);
  font-weight: 500;
  font-size: clamp(0.75rem, calc(0.62rem + 0.65vw), 1.13rem);
  transition: 0.3s;
}

.btn:hover {
  background-color: var(--orange-dark);
  border-color: transparent;
  color: var(--silver-light);
}

header {
  width: 80px;
  height: 500px;
  background: var(--orange-dark);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  padding-inline: 14px;
  position: fixed;
}

.nav--logo {
  height: 100px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid var(--silver-light);
}

.nav--logo>span {
  font-size: 20px;
  color: var(--silver-light);
  font-weight: 800;
}

nav ul {
  display: flex;
  flex-direction: column;
  align-items: center;
}

nav ul>li {
  margin-block: 20px;
}

nav ul>li>a {
  font-size: 12px;
  color: var(--black-font);
  background-color: var(--silver-light);
  padding: 8px 10px;
  border-radius: 50%;
}

a {
  text-decoration: none;
}

.container {
  width: min(1336px, 100% - 4rem);
  margin-inline: auto;
  padding-block: 80px;
  overflow: hidden;
  overflow: -webkit-hidden;
  -ms-overflow: hidden;
  overflow: hidden \9;
}

.profile--bio>p {
  font-size: clamp(0.75rem, calc(0.62rem + 0.65vw), 1.13rem);
  text-align: justify;
}

.content--hero {
  display: grid;
  grid-template: 500px 1fr / 490px 1fr;
  grid-template-areas:
    "col01 col02"
    "col03 col03";
}

.col--1 {
  grid-area: col01;
  display: flex;
  flex-direction: column;
  gap: 28px;
}

.greeting>p {
  font-size: 24px;
}

.socials {
  display: flex;
  flex-direction: row;
  gap: 36px;
  align-items: center;
}

.socials>p {
  color: rgba(34, 34, 34, 0.5);
}

.socials>.links {
  display: flex;
  flex-direction: row;
  gap: 16px;
}

.socials>.links>a {
  font-size: clamp(0.88rem, calc(0.74rem + 0.65vw), 1.25rem);
  color: var(--silver-light);
  padding: 0.6rem 1rem;
  border-radius: 50%;
  background-color: var(--instagram-bg);
}

.socials>.links>a:nth-child(2) {
  background-color: var(--facebook-bg);
  padding-inline: 18px;
}

.socials>.links>a:nth-child(3) {
  background-color: var(--twitter-bg);
}

.profile--name>h1 {
  font-weight: 600;
  font-size: clamp(1.25rem, calc(0.82rem + 2.17vw), 2.50rem);
}

.buttons {
  display: flex;
  flex-direction: row;
  gap: 45px;
}

.col--2 {
  grid-area: col02;
  justify-self: end;
}

.profile--image>img {
  width: 400px;
  height: auto;
}

.profile--image {
  position: relative;
}

.profile--image::before {
  content: '';
  position: absolute;
  background-image: url(Bullet\ Points.svg);
  background-repeat: no-repeat;
  bottom: -13rem;
  width: 400px;
  height: 400px;
  z-index: -1;
}

.profile--image::after {
  content: '';
  position: absolute;
  background-image: url(Bullet\ Points.svg);
  background-repeat: no-repeat;
  top: 10px;
  left: 9.5rem;
  width: 400px;
  height: 400px;
  z-index: -1;
}

.col--two-three {
  grid-area: col03;
}

.content-bg {
  height: 500px;
  width: 100%;
  background-color: var(--orange-dark);
  border-radius: 35px;
  display: grid;
  grid-template: 220px 1fr / 600px 1fr;
  grid-template-areas:
    "col-01 col-02"
    "col-01 col-03";
}

.col01 {
  grid-area: col-01;
  place-self: center;
}

.col02 {
  align-self: center;
  grid-area: col-02;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 50px;
}

.completed-projects>h1 {
  color: white;
  font-size: clamp(1.50rem, calc(0.46rem + 5.22vw), 4.50rem);
}

.completed-projects>p {
  color: white;
  font-size: clamp(0.75rem, calc(0.49rem + 1.30vw), 1.50rem);
}

.projects-reviews {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100px;
  justify-content: space-between;
  align-self: flex-end;
}

.reviews--stars>i {
  font-size: 20px;
  color: var(--green-start);
}

.reviews--stars>i:last-child {
  background: linear-gradient(to right, var(--green-start) 50%, rgba(255, 255, 255, 0.5) 50%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.reviews-text>p {
  font-size: clamp(0.75rem, calc(0.49rem + 1.30vw), 1.50rem);
  color: white;
}

.col02-row02>.heading>h1 {
  font-size: clamp(1.00rem, calc(0.30rem + 3.48vw), 3.00rem);
  color: white;
}

.col02-row02>.heading>p {
  font-size: clamp(0.63rem, calc(0.41rem + 1.09vw), 1.25rem);
  width: 80%;
  color: white;
  line-height: 45px;
}

.content--hire {
  width: 100%;
  padding-block: 20px;
  height: 500px;
  display: grid;
  grid-template: 200px 1fr;
  grid-template-areas:
    "col01"
    "col02";
  justify-items: center;
  gap: 20px;
}

.content--heading>h1 {
  font-size: clamp(1.13rem, calc(0.47rem + 3.26vw), 3.00rem);
  color: var(--black-font);
}

.content--items {
  display: flex;
  flex-direction: row;
  gap: 65px;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.box {
  height: 350px;
  width: 280px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-block: 20px;
  padding-inline: 20px;
  gap: 15px;
}

.name>h3 {
  font-weight: 600;
}

.details>p {
  color: #222222;
  text-align: center;
  font-size: 0.8rem;
  padding-inline: 25px;
}

/* Media queries */

@media (max-width: 1500px) {
  header {
    width: 100%;
    height: 80px;
    top: 0;
    flex-direction: row;
    justify-content: space-between;
    border-radius: 0;
    align-items: center;
    padding-inline: 30px;
    position: sticky;
    z-index: 999;
  }

  nav ul {
    flex-direction: row;
  }

  nav ul>li:not(:last-child)>a {
    margin-inline-end: 30px;
  }

  .nav--logo {
    display: flex;
    width: 0;
    height: 0;
    justify-content: start;
    align-items: center;
    border-bottom: none;
  }
}

@media (max-width: 968px) {
  .profile--image>img {
    height: 300px;
    width: auto;
  }

  .col--2 {
    align-self: center;
  }

  .profile--image::before {
    height: 150px;
    width: 150px;
    bottom: 0;
  }

  .profile--image::after {
    height: 300px;
    width: 300px;
  }
}

@media (max-width: 850px) {
  .content--hero {
    grid-template: 500px 1fr / 490px 1fr;
    grid-template-areas:
      "col01 col01"
      "col03 col03";
  }

  .col--2 {
    display: none;
  }

  .container {
    padding-block: 0;
  }

  .col--1 {
    place-self: center;
  }

  .profile--bio {
    width: 90%;
  }
}

@media (max-width: 500px) {
  .profile--bio {
    width: 60%;
  }
}

@media (max-width: 1150px) {
  .col01 {
    display: none;
  }

  .heading>p {
    width: 100% !important;
    padding-inline: 80px;
    line-height: 30px !important;
  }

  .col02 {
    grid-row: 1;
    grid-column: 1;
  }

  .col02-row02 {
    grid-row: 2;
    grid-column: 1;
  }

  .heading {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .content-bg {
    grid-template: 1fr 1fr / 1fr;
    place-items: center;
  }
}

@media (max-width: 560px) {
  .projects-reviews {
    display: none;
  }

  .completed-projects {
    text-align: center;
  }
}

@media (max-width: 1380px) {
  .content--hire {
    height: 1000px;
  }
}

@media (max-width: 690px) {
  .content--items {
    gap: 0 !important;
  }

  .content--hire {
    height: 1500px;
  }
}